name: Deploy de infraestrutura com Terraform

on:
  workflow_call:
    inputs:
      environment:
        type: string
        required: true

jobs:
  plan:
    runs-on: ubuntu-22.04

    env:
      ACCOUNT_FAMILY: ${{ vars.ACCOUNT_FAMILY }}
      AWS_DEFAULT_REGION: ${{ vars.AWS_DEFAULT_REGION }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'
          token: ${{ secrets.FETCH_TOKEN }}

      - name: setup_go
        uses: actions/setup-go@v4
        with:
          go-version: '1.20.4'

      - name: setup_python
        uses: actions/setup-python@v5
        with:
          python-version: 'pypy3.10'

      - name: setup_node
        uses: actions/setup-node@v3
        with:
          node-version: '20.2.0'

      - name: setup_terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.7.0"   

      - name: Checkout Pipeline Scripts
        uses: actions/checkout@v4
        with:
          repository: lugui-co/infra-github-pipelines
          ref: production
          path: infra-github-pipelines
          token: ${{ secrets.FETCH_TOKEN }}
               
      - name: plan
        run: |
          echo "Iniciando job de plan..."
          export CI_COMMIT_BRANCH=${GITHUB_REF_NAME}
          export CI_PROJECT_NAME=$(echo "${GITHUB_REPOSITORY}" | awk -F / '{print $2}')

          # Instalar dependências
          sudo apt-get update && sudo apt-get install -y awscli p7zip build-essential

          # Carregar e executar scripts
          source infra-github-pipelines/scripts/aws_setup.sh
          source infra-github-pipelines/scripts/terraform_operations.sh

          # Configurar AWS
          setup_aws_credentials "${ACCOUNT_FAMILY}" "${CI_COMMIT_BRANCH}"

          # Setup e execução do Terraform
          setup_terraform_environment "${CI_COMMIT_BRANCH}" "${ACCOUNT_FAMILY}"
          initialize_terraform "${CI_COMMIT_BRANCH}" "${AWS_DEFAULT_REGION}"
          run_terraform_plan "${CI_COMMIT_BRANCH}"

      - name: upload_artifact
        uses: actions/upload-artifact@v4
        with:
          overwrite: true
          retention-days: 1
          compression-level: 9
          name: plano
          path: ./tfplan.json

  apply:
    runs-on: ubuntu-22.04
    needs: plan
    environment:
      name: ${{ inputs.environment }}

    env:
      ACCOUNT_FAMILY: ${{ vars.ACCOUNT_FAMILY }}
      AWS_DEFAULT_REGION: ${{ vars.AWS_DEFAULT_REGION }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

    steps:
      - name: checkout
        uses: actions/checkout@v4
        with:
          submodules: 'recursive'
          token: ${{ secrets.FETCH_TOKEN }}
      - name: setup_go
        uses: actions/setup-go@v4
        with:
          go-version: '1.20.4'

      - name: setup_python
        uses: actions/setup-python@v5
        with:
          python-version: 'pypy3.10'

      - name: setup_node
        uses: actions/setup-node@v3
        with:
          node-version: '20.2.0'

      - name: setup_terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.7.0"   

      - name: Checkout Pipeline Scripts
        uses: actions/checkout@v4
        with:
          repository: lugui-co/infra-github-pipelines
          ref: production
          path: infra-github-pipelines
          token: ${{ secrets.FETCH_TOKEN }}
      - name: download_artifacts
        uses: actions/download-artifact@v4
        with:
          name: plano

      - name: apply
        run: |
          echo "Iniciando job de apply..."
          export CI_COMMIT_BRANCH=${GITHUB_REF_NAME}
          export CI_PROJECT_NAME=$(echo "${GITHUB_REPOSITORY}" | awk -F / '{print $2}')

          # Instalar dependências
          sudo apt-get update && sudo apt-get install -y awscli p7zip build-essential

          # Carregar e executar scripts
          source infra-github-pipelines/scripts/aws_setup.sh
          source infra-github-pipelines/scripts/terraform_operations.sh

          # Configurar AWS
          setup_aws_credentials "${ACCOUNT_FAMILY}" "${CI_COMMIT_BRANCH}"

          # Setup e execução do Terraform
          setup_terraform_environment "${CI_COMMIT_BRANCH}" "${ACCOUNT_FAMILY}"
          initialize_terraform "${CI_COMMIT_BRANCH}" "${AWS_DEFAULT_REGION}"
          run_terraform_apply "./tfplan.json"